* {
    /* font-family: 'Montserrat', sans-serif; */
    font-family:'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    /* font-family: Menlo,Consolas,monaco,monospace; */
    /* Comfortaa */
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    /* box-sizing: content-box; */
}

/* html { height: 100%; } */

body{
    min-height: 100vh;

    /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.215) 100% 100%), url('./cache/Bakcrground2.jpg'); */
    /* background-size: 100% 300%; */
    /* background: linear-gradient(0.25turn, #c1bbb6, #fdc789, #f69d3c); */
    /* background: linear-gradient(to left, #fff4f4, #fadbdb 50%, #eee 75%, #ffdbdb 75%); */

    object-fit: fill;
    /* object-position: 50% 50%; */
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, 0.215) 100% 100%), url('./cache/background.jpeg'); */
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #979695;
}

button {
    background-color: #00a395;
    padding: 1.5em;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    color: #defffa;
}

h2 {
    color: white;
}

h3 {
    text-transform: uppercase;
}

h4 {
    text-transform: lowercase;
}

hr { 
    width: 4em;
    color: #f7a191;
}





header {
    position: fixed;
    top: 0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
    background: rgba(56, 55, 55, 0.719);
    width: 100%;
 }

/* Navigation Bar: */

#NavigationBar {
    display: flex;
    background-color: transparent;
    border-bottom: 1px solid grey;
}

nav a img {
    width: 30%;
    /* height: 20%; */
}

nav a {
    height: 30%;
    width: 70%;
}

nav .navigational{
    display: inline-flex;
    padding: 0.5em;
    border: transparent solid 3px;
}

nav .navigational.selected {
    border: black solid 3px;
}

/* nav img { height: 50%; } */

#Home {
    width: 50%;
}

#HamburgerMenu {
    width: 25%;
    height: 30%;
}

#HamburgerButton {
    display: none;
}

#HamburgerButton img {
    width: 8%;
}

#HamLinks {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#HamLinks li {
    text-transform: uppercase;
}

@media (max-width: 900px) {
    #HamburgerButton {
        display: flex;
    }

    nav .navigational{
        display: inline-flex;
        padding: 0.8em;
    }

    #HamLinks {
        flex-direction: column;
    }

    #HamLinks.Collapsed {
        display: none;
    }

    #HamLinks.Visible {
        display: flex;
    }
}

/* Section 1 */

#Welcome {
    background: url("./cache/massage26.jpg");
    background-size: cover;
    object-fit: fill;
    object-position: 50% 50%;
    background-repeat: no-repeat;

    padding-top: 12em;
    padding-bottom: 12em;
    padding-left: 14em;
    /* margin-left: auto;
    margin-right: auto;
    width: 75%; */
}

#Welcome * {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}





.Card {
    display: inline-grid;
    text-align: center;
    justify-items: center;
}

.Card > img {
    width: 90%;
}

#DeserveCard .Card > img {
    width: 21%;
}

#MeetTeam .Card > img {
    width: 67%;
    height: 256px;
}

.Card p {
    width: 55%;
}

.Card h5 {
    font-weight: bold;
}





/* #Services {
    width: 80%;
    display: grid;
    justify-items: center;

    margin-top: 8em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
} */

#Services * { 
    margin-top: 1em;
}

#Services p {
    width: 45%;
    text-align: center;
}

#Services span {
    /* background-image: url('./cache/massage12.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 26em;
    height: 22em;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    /* color: white; */
}

#Services span:nth-child(1) {
    background-image: url('./cache/massage12.jpg');
}

#Services span:nth-child(2) {
    background-image: url('./cache/massage33.jpg');
}

#Services span:nth-child(3) {
    background-image: url('./cache/massage32.jpg');
}





#Uniques {
    display: grid;
    margin-left: 14em;
    margin-top: 4em;
}

#Uniques img {
    width: 24em;
    height: 32em;
}

#UniquesPoints {
    display: flex;
}

#UniquesPoints span {
    width: 50%;
}

#UniquesBlock {
    display: flex;
}

#UniquesReasons {
    width: 60%;
}

#Uniques ul {
    list-style-image: url('./cache/icons_check.png');
    list-style-position: inside;
    margin-bottom: 2em;
    /* list-style-type: circle; */
}





#BookingBar {
    display: flex;
    background-color: #f7a191;
    align-items: center;
}

#BookingBar * {
    margin-top: 2em;
    margin-bottom: 2em;
}

#BookingBar h3 {
    color: white;
    height: 30%;

    margin-left: 16em;
    margin-left: auto;

}

#BookingBar button {
    background-color: white;
    color: black;
    height: 30%;

    margin-left: 16em;
    margin-right: auto;
}




#DeserveCard .Card {
    width: 30%;
}

#DeserveCard {
    display: flex;
}



#BeautyBlog * { 
    margin-top: 1em;
}

#BeautyBlog span {
    display: inline-flex;

    /* background-repeat: no-repeat;
    background-size: cover;
    width: 26em;
    height: 22em;
    text-align: center;
    justify-content: center; */
}



/* #MeetTeam {
    margin-top: 0em;
} */

#MeetTeam * { 
    margin-top: 1em;
}

#MeetTeam span {
    display: inline-flex;

    /* width: 26em;
    height: 22em; */
    text-align: center;
    justify-content: center;
}

footer {
    display: grid;

    /* background-image: url('./cache/massage16.jpg'); */
    background-image: linear-gradient(to right, rgba(59, 55, 55, 0.747) 100% 100%), url('./cache/massage16.jpg');

}


footer span {
    display: inline-flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer > span:first-child {
    margin-top: 4em;
    margin-bottom: 4em;

    border-bottom: 1px solid black;

    margin-top: 4em;
    margin-bottom: 4em;
}

footer span a {
    display: block;
    margin-bottom: 1em;
}

footer span div {
    display: inline-grid;
    margin-right: 10em;
}

footer span div li {
    list-style-position: inside;
}

/* footer span div li:nth-child(1) {
    list-style-image: url('./cache/icon11.png');
}

footer span div li:nth-child(2) {
    list-style-image: url('./cache/icon07.png');
}

footer span div li:nth-child(2) {
    list-style-image: url('./cache/icon09.png');
} */

footer h3 {
    margin-bottom: 2em;
}






#BlogHead{
    background-image: url("./cache/massage48.jpg");
    min-height: 489px;
    width: 100%;
}











/** TODO:
 * Take the most from above and shove in classes
 */

/* Studio and Deserve */
.SideBySide {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 2em;
}

.SideBySide * {
    margin-bottom: 2em;
}

.SideBySide div p {
    width: 85%;
}

.SideBySide h4 {
    text-transform: capitalize;
    font-weight: bold;
}

.SideBySide > :first-child * {
    margin-left: auto;
}

.SideBySide > :first-child {
    width: 35%;
    margin-left: auto;
    text-align: right;
}

.SideBySide > :last-child {
    width: 35%;
    display: inline;

    margin-left: 6em;
    margin-right: auto;

    text-align: left;
}

/* Services, BeautyBlog, MeetTeam */
.CardPresentation {
    width: 80%;
    display: grid;
    justify-items: center;

    margin-top: 8em;
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
}

#MeetTeam {
    margin-top: 0em;
}


/* 
    the big picture at the top uses that:
    linear-gradient(180deg,rgba(45,43,42,0.87) 0%,rgba(45,43,42,0.87) 100%),url(https://massage-theme.richardpruzek.com/wp-content/uploads/2020/02/massage12.jpg)
 */
 